@import 'mixins/mixins';
@import 'base/base';

body {
  background: $chatelle;
  font-family: $main-font;
  // height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 80vh;
}

.header {
  color: $bahama_blue;
}

.content {
  display: flex;
  margin: 2rem 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter {
  color: $bahama_blue;
  font-size: $size-36;
}
