@import 'mixins/mixins';
@import 'base/base';

body {
  background: $chatelle;
  font-family: $main-font;
  margin: 0 auto;
  text-align: center;
  max-width: 70vh;

  @media (max-width: $breakpoint-laptop) {
    max-width: 50vh;
  }
}

.header {
  color: $bahama_blue;
}

.content {
  display: flex;
  margin: 4rem 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.counter {
  color: $bahama_blue;
  font-size: $size-36;
}
