@import '../../styles/mixins/mixins';
@import '../../styles//base/base';

$_anakiwa: #b2e0ff;

.card {
  background: $vista_blue;
  border: 1px solid $_anakiwa;
  border-radius: 5px;
  cursor: pointer;
  // @include flex-center;
  height: 12rem;
  margin: 5px;
  width: 10rem;

  &:hover {
    background: #98f5cd;
  }
}

.title {
  margin: 2em;
}
