// Font styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
$main-font: 'Roboto', sans-serif;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-36: 36px;
$size-48: 48px;

// Colors
$chatelle: #b0a8b9;
$vista_blue: #7fd1ae;
$bahama_blue: #005893;
